/* main.css */
body {
  margin: auto;
  max-width: 50em;
  font-family: monospace;
  background-color: lightpink;
}

.header {
  background-color: lemonchiffon;
  color: purple;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: lemonchiffon;
  padding: 0.5em;
  margin: 0.5em 0;
}

.content {
  background-color: salmon;
  padding: 1em;
  margin: 0.5em 0;
}

h1, h2 {
  margin: 0;
}

.thread {
  border: 2px solid purple;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid purple;
  margin: 1em;
  padding: 0.5em;
  background-color: lightseagreen;
  color: purple;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid purple;
}

nav li:not(:first-of-type) {
  margin-left: -0.25em;
}
