{% extends "layout.html" %}

{% block title %}Etsi tapahtuma{% endblock %}

{% block content %}
<h2>Etsi tapahtuma</h2>

<form action="/find_event" method="get">
  <p>
    Hakusana: <input type="text" name="query" value="{{ query }}">
  </p>
  <input type="submit" value="Hae">
</form>

<form action="/" method="get">
  <input type="submit" value="Etusivulle" />
</form>

{% if query %}
<h2>Tulokset</h2>
{% endif %}
<ul>
  {% for event in results %}
  <li><a href="/event/{{ event.id }}">{{ event.title }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
