{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<h2>Kirjautuminen</h2>

<form action="/login" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="next_page" value="{{ request.args.get('next', '/') }}" />
  <p>
    <label for="username">Tunnus:</label> <br />
    <input type="text" id="username" name="username" />
  </p>
  <p>
    <label for="password">Salasana:</label> <br />
    <input type="password" id="password" name="password" />
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endblock %}
